/*room_items*/
.room_items {

    margin: auto;
    width: 95%;
    /* height: 30%; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.image-box {
    width: 600px;
    text-align: center;
    margin-right: 10px;
}

.about {
    height: 100%;
}

.room_name {
    white-space: nowrap;
    /*限制不可換行*/
    padding-top: 10px;
    margin-bottom: 10px;
    line-height: 1.5;
    font-size: 18px;
    /* font-family: ‘Open Sans’; */
    font-weight: 800;
    font-style: normal;
    color: #202020;
}

.room_caption {
    line-height: 1.5;
    font-size: 14px;
    /* font-family: ‘Open Sans’; */
    font-weight: 600;
    color: #909090;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 5px 0px;
    max-height: 40%;
}

.know_more {
    color: salmon;
    margin-top: 5px;
}

.prices {
    text-align: right;
    font-weight: bold;
    margin-right: 5%;
    margin-left: 5px;
    white-space: nowrap;
    /*限制不可換行*/
}

/* + 1 -*/
.count_section {
    /* width: 15%; */
    display: flex;
    float: right;
    margin-right: 10%;
    align-items: center;
    justify-content: center;
    align-content: flex-start;
    flex-direction: row;
}

.rest_room_section {
    margin-right: 25px;
}

.select_block {
    display: flex;
    align-items: center;
}

.select_btn {
    margin-right: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    align-content: center;
}

.jrn_cart_items {
    margin: 10px;
    border-top: 1px solid gray;
}

.cart_room {
    display: flex;
    flex-wrap: wrap;
}

.cart_jrn {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    border-bottom: 3px outset rgba(250, 171, 162, 0.452);
    border-radius: 3px;
}

.card_li {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
}

/* for remove all */
.Action {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* float: right; */
    font-size: 16px;
    font-weight: 600;
    color: salmon;
    cursor: pointer;
    /* border-bottom: 1px solid salmon; */
}

div.Action:active {
    box-shadow: 1px 1px 3px lightgray inset, -1px -1px 3px lightgray inset;
    background-color: #fcfcfc;
    font-size: 1.0rem;
}

.cart_remove_price {
    margin-block: #909090;
}


.jrntype {
    display: flex;
    margin-left: 15px;
}

.hidden_caution {
    border-top: 1px solid gray;
    display: none;
    color: #FF090F;
}