a{color:#CBA441;}
.btn, .btn.inverse:hover{color:#FFFFFF; background-color:#CBA441; border-color:#CBA441;}

#introblocks ul li p.story{
	line-height: 30px;
	text-align:center;
}

.circle{
    border-radius:50%; background-clip:padding-box;
    width: 75px;
    height: 75px;
}


.testimonials article{
    margin-bottom:30px;
    padding:20px;
    border-radius:10px;
    color:#474747;
    background-color:#FFFFFF;
    display:block;
    position:relative;
    width:100%;
    margin:0;
    padding:30px;
    line-height:1.4;
    z-index:1;
}
.testimonials article::after{
    display:block;
    position:absolute;
    bottom:-15px;
    left:30px;
    width:0;
    height:0;
    content:"";
    border:15px solid transparent;
    border-bottom:none;
    border-top-color:#FFFFFF;
}   

.testimonials article ul.nospace{
    margin:0;
    padding:0 0 0 5px;
    list-style:circle;
}

.testimonials ul li span{
    font-weight: bold;
}

.testimonials figure{
    margin-top: 30px;
}

.overview > li article .heading{
    font-weight: bold;

    font-size:1.2rem;
}


section div.aboutInfo{
    display: inline-block;
    margin: 0 0 20px 20px;
    width: 300px;
}
section div.aboutInfo .heading{
    font-size:1.2rem;
    font-weight: bold;
    margin: 0;
}
section div.aboutInfo p{
    margin: 0;
}
section div.aboutMap{
    width: 65%;
    float: right;
}

.covid{
    margin-left: 70px;
    width: 130px;
    float: right;
    text-align: center;
}